@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1758715314117') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feiji:before {
  content: "\f0202";
}

.icon-jiudian:before {
  content: "\e888";
}

.icon-huochepiao:before {
  content: "\e89a";
}

.icon-guanbi:before {
  content: "\e71a";
}

.icon-lvyou:before {
  content: "\e610";
}

.icon-jingdianxinxi:before {
  content: "\e50c";
}

