* {
  margin: 0;
  padding: 0;
  font-family: simsun;
  box-sizing: border-box;
}
ul li {
  /* 消除前面小圆点 */
  list-style: none;
}
a {
  text-decoration: none;
}
html body {
  background-color: #f5f0e6;
  width: 100%;
  height: 100%;
}

/* 顶部区域，占满整个视口 */
.top-section {
  width: 100%;
  height: 100vh;
  background-image: url("/index/images/background-image.png");
  /* 覆盖整个元素 */
  background-size: cover;
  /* 图片居中 */
  background-position: center;
  /* 不重复 */
  background-repeat: no-repeat;
}
/* 导航栏思路：先确定布局，设置弹性布局，将其中内容位置比如是否居中是否两端对齐，确定好后调整样式 */
/* 导航栏 */
.nav {
  padding: 5px 100px;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 导航栏左边文字部分 */
.nav-left {
  display: flex;
  /* 让左右两边文字对齐 */
  padding: 5px 0;
}
.nav-title h4 {
  margin: 6px;
}
.nav .logo {
  width: 30px;
  height: auto;
}
/* 导航栏右边 */
.nav-right ul {
  display: flex;
}
.nav-right ul li {
  margin-right: 10px;
}
.separater {
  text-align: center;
  padding: 0 20px;
  width: 100%;
}
.separater img {
  width: 40%;
}
/* 数据库 */
.card-container {
  margin: 0 60px;
  display: grid;
  /* 两列三行 */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.card-container .card {
  display: block;
  width: 100%;
  height: 400px;
  padding: 20px;
}
.card-container .card .card-image {
  position: relative;
  width: 100%;
  height: 100%;
  /* 完整的展示整个图片 */
  background-size: contain;
  /* 图片居中 */
  background-position: center;
  /* 不重复 */
  background-repeat: no-repeat;
  background-image: url("/index/images/border3.png");
}
.card .card-word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-word .card-name {
  color: black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.card-word .english-name {
  font-size: 14px;
  color: #d4af37;
  text-align: center;
  margin-bottom: 20px;
}
.card-word .card-introduction {
  font-size: 20px;
  color: black;
}
