* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
}

/* 左侧导航栏 */
.aisde .el-menu {
  /* 可视区域的100%，而100%是父容器的100% */
  height: 100vh;
}
.el-menu-vertical-demo {
  height: 100vh;
}
.aside-list {
  display: fixed;
  left: 0;
  width: 200px;
}
/* 字体图标的样式 */
.aside i {
  font-size: 24px;
  font-weight: 500;
  margin-right: 5px;
}
.aside .el-radio-button__inner {
  border: none;
  font-size: 20px;
}

/* 页面头部 */

.headerNav {
  display: flex;
  /* 水平对齐 */
  justify-content: space-between;
  /* 垂直居中 */
  align-items: center;
  height: 60px;
  width: calc(100% - 200px); /* 减去左侧导航栏宽度 */
  /* 固定定位 */
  position: fixed;
  top: 0;
  background-color: #fff;
  /* 值越大元素越靠前，值越小，元素越靠后，就是值大，展示在前面 */
  z-index: 999;
  padding: 0 10px;
}
.el-main {
  overflow-y: auto;
  margin-top: 60px;
  /* css计算函数，宽度-父容器宽度的100%-200像素 */
  width: calc(100%-200px);
}
/* img标签不用加. */
.header-logo img {
  width: 100%;
  height: 50px;
}
.header-serach {
  flex: 1;
  /* rem基于根元素字体，根元素root */
  margin: 0 2rem;
}
.headerNav .el-input-group__append {
  background-color: var(--el-color-primary);
  color: #fff;
}
.headerNav .el-link {
  margin: 0 20px;
}

.headerNav .el-tooltip__trigger:focus {
  /* 移除元素获得焦点时的默认轮廓线 */
  outline: none;
}
/* 搜索列表 */
.searchList {
  /* 网格布局 */
  display: grid;
  /* 创建5列的布局，每列的宽度自动调整 */
  grid-template-columns: repeat(5, auto);
}
.search-item {
  border: 1px solid #dadada;
  /* 右边边框重叠 */
  margin-right: -1px;
}
.search-item:focus {
  border-bottom: blue;
}
/* 目的地/酒店名称 */
.search-box {
  padding: 4px 6px;
}
.search-box label {
  color: #999;
  display: block;
}
.search-box input {
  border: 0;
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}
/*伪类选择器 */
/* 空格表示后代选择器，所有层级的后代元素*/
/* 当元素获得焦点时，可以控制父元素的样式 */
.search-item:focus-within {
  border-bottom: 2px solid var(--el-color-primary);
}
/* 日期 */
.search-box .el-date-editor.el-input__wrapper {
  box-shadow: none;
}
.search-box .el-date-editor .el-input__wrapper:focus {
  box-shadow: none;
}
/* 搜索按钮 */
.search-item .el-button {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.search-item .el-button .el-icon {
  font-size: 24px;
}
/* 主要内容区 */
.topFilter {
  display: grid;
  width: 1200px;
  grid-template-columns: 104px 1fr;
  grid-template-rows: repeat(3, auto);
}
/* >直接子代选择器 */
.topFilter > div {
  border-bottom: 1px solid #dadada;
  padding: 5px 0;
}
.topFilter h4 {
  line-height: 2rem;
  text-align: center;
}
/* 位置区域 */
.topFilter .location-box {
  padding-top: 10px;
}
.topFilter .el-button:hover {
  background-color: var(--el-color-primary);
  border: 1px solid var(--el-color-primary);
}
.topFilter .el-button {
  margin: 1px 0;
}
/* 高级筛选 */
.topFilter-filter .el-dropdown {
  margin: 7px 6px;
}
/*推荐区域 */
.recommend {
  display: flex;
  width: 1200px;
  gap: 0 20px;
  padding: 20px 0;
}
.recommend .recommend-left {
  width: 680px;
}
.recommend .recommend-right {
  width: 400px;
}
/* 轮播图 */
.banner {
  width: 400px;
  height: 620px;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 覆盖整个容器，可能裁剪图片 */
}
/* 推荐列表 */
/*li默认是display:list-item */
.recommendList ul li {
  display: flex;
  background-color: #f4f6f9;
  padding: 10px;
  margin-bottom: 10px;
}
.list-left {
  flex: 2;
  display: flex;
}
.list-right {
  border-left: 1px solid #dadada;
  flex: 1;

  text-align: right;
}
/* 推荐列表左边 */
.list-left-img img {
  flex: 1;
  width: 120px;
  height: auto;
  object-fit: cover;
}
.list-left-title {
  flex: 9;
}
/* 推荐列表左边文字部分 */
/* 点赞手势 */
.list-left-tagandtitle {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.list-left-tagandtitle img {
  height: 18px;
  width: auto;
  margin-left: 5px;
}
.list-left-transport {
  margin-bottom: 5px;
}
.list-left-tag .el-tag {
  margin: 0 5px;
}
/* 推荐列表右边 */
.list-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-right-comment {
  display: flex;
  /* 水平靠右 */
  justify-content: flex-end;
}
.list-right-comment {
  margin-bottom: 15px;
}
.list-right-describe p {
  font-size: 18px;
  font-weight: 700;
  color: var(--el-color-primary);
}
.list-right-score {
  background-color: var(--el-color-primary);
  padding: 6px;
  font-size: 20px;
  color: white;
  border-radius: 4px;
  margin-left: 5px;
}
.list-right-describe a {
  text-decoration: none;
  font-size: 12px;
  color: #999;
}
.list-right-price p {
  font-size: 18px;
  font-weight: 700;
  color: var(--el-color-primary);
}
