input:focus {
  outline: none;
}

/* 左侧导航栏 */
.aisde .el-menu {
  /* 可视区域的100%，而100%是父容器的100% */
  height: 100vh;
}
.el-menu-vertical-demo {
  height: 100vh;
}
.aside-list {
  display: fixed;
  left: 0;
  width: 200px;
}
/* 字体图标的样式 */
.aside i {
  font-size: 24px;
  font-weight: 500;
  margin-right: 5px;
}
.aside .el-radio-button__inner {
  border: none;
  font-size: 20px;
}

/* 页面头部 */

.headerNav {
  display: flex;
  /* 水平对齐 */
  justify-content: space-between;
  /* 垂直居中 */
  align-items: center;
  height: 60px;
  width: calc(100% - 200px); /* 减去左侧导航栏宽度 */
  /* 固定定位 */
  position: fixed;
  top: 0;
  background-color: #fff;
  /* 值越大元素越靠前，值越小，元素越靠后，就是值大，展示在前面 */
  z-index: 999;
  padding: 0 10px;
}
.el-main {
  overflow-y: auto;
  margin-top: 60px;
  /* css计算函数，宽度-父容器宽度的100%-200像素 */
  width: calc(100%-200px);
}
/* img标签不用加. */
.header-logo img {
  width: 100%;
  height: 50px;
}
.header-serach {
  flex: 1;
  /* rem基于根元素字体，根元素root */
  margin: 0 2rem;
}
.headerNav .el-input-group__append {
  background-color: var(--el-color-primary);
  color: #fff;
}
.headerNav .el-link {
  margin: 0 20px;
}

.headerNav .el-tooltip__trigger:focus {
  /* 移除元素获得焦点时的默认轮廓线 */
  outline: none;
}
/* 搜索列表 */
.searchList {
  /* 网格布局 */
  display: grid;
  /* 创建5列的布局，每列的宽度自动调整 */
  grid-template-columns: repeat(5, auto);
}
.search-item {
  border: 1px solid #dadada;
  /* 右边边框重叠 */
  margin-right: -1px;
}
.search-item:focus {
  border-bottom: blue;
}
/* 目的地/酒店名称 */
.search-box {
  padding: 8px 12px;
}
.search-box label {
  color: #999;
  display: block;
}
.search-box input {
  border: 0;
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}
/*伪类选择器 */
/* 空格表示后代选择器，所有层级的后代元素*/
/* 当元素获得焦点时，可以控制父元素的样式 */
.search-item:focus-within {
  border-bottom: 2px solid var(--el-color-primary);
}
/* 日期 */
.search-box .el-date-editor.el-input__wrapper {
  box-shadow: none;
}
.search-box .el-date-editor .el-input__wrapper:focus {
  box-shadow: none;
}
/* 搜索按钮 */
.search-item .el-button {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.search-item .el-button .el-icon {
  font-size: 24px;
}
/* 主要内容区 */
.topFilter {
  display: grid;
  width: 1200px;
  grid-template-columns: 104px 1fr;
  grid-template-rows: repeat(3, auto);
}
/* >只选择直接子代选择器 */
.topFilter > div {
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.topFilter h4 {
  margin: 0;
  line-height: 4rem;
  text-align: center;
}

.topFilter .el-button:hover {
  background-color: var(--el-color-primary);
  border: 1px solid var(--el-color-primary);
}
.topFilter .el-button {
  margin: 10px 0;
}
